html,
body {
  padding:0;
  margin:0;
  max-width:1400px;
  margin:auto;
  height: 100%;
}

*{
  box-sizing: border-box;
}


.title2{
  color: red;
}

#__next {
  height: 100%;
}

.notfound__h1{
  color: gray;
  text-align: center;
}